@use 'styles' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.content h1 {
  font-family: $font-Montserrat;
  font-weight: $fw-bold;
  font-size: 24px;
  line-height: 30px;
  color: $color-light-black;
}
.content p {
  font-family: $font-Inter;
  font-weight: $fw-medium;
  font-size: 14px;
  line-height: 20px;
  color: $color-light-black;
  margin-top: 15px;
  margin-bottom: 20px;
}
.changePasswordForm {
  width: 100%;
}
.inputContainer {
  width: 100%;
}
.input {
  font-family: $font-Inter;
  font-weight: $fw-medium;
  font-size: 16px;
  line-height: 24px;
  color: $color-light-black;
}
.sendButton {
  margin-top: 15px;
  width: 100%;
}
.bottomText {
  font-family: $font-Inter;
  font-weight: $fw-medium;
  font-size: 14px;
  line-height: 20px;
  color: $color-medium-grey;
  margin-top: 15px;

  .response {
    color: $color-black;
  }

  .resendLetter {
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: $font-Inter;
    font-weight: $fw-medium;
    font-size: 14px;
    line-height: 20px;
    color: $color-medium-grey;
  }
}
