@use 'styles' as *;

.flightInfo {
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  background-color: $color-white;
  font-family: $font-Inter;
  display: flex;

  @include shadow-input;

  @include mobile {
    padding: 15px 0;
  }
}

.flightInfoAircraft {
  width: 40%;
  height: 100%;
}
.flightInfoContent {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  .info {
    width: 48%;
  }
}

.info {
  margin-bottom: 5px;
  font-family: $font-Inter;
  font-size: 12px;
  font-weight: $fw-medium;
  line-height: 16px;
  margin-right: 5px;

  span {
    font-size: 12px;
    font-weight: $fw-bold;
    line-height: 16px;
    text-align: left;
  }

  @include mobile {
    width: 49%;
    margin-right: 2px;
    padding-left: 15px;

    &:nth-child(-n + 3) {
      width: 100%;
    }
    &:nth-child(3) {
      padding-bottom: 10px;
      border-bottom: 1px solid $color-light-grey;
    }
  }
}
