@use 'styles' as *;

.header {
  max-width: 174px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 401px) {
    max-width: 100%;
  }
}
.headerWithMargin {
  margin-bottom: 22px;
  @include mobile {
    margin-bottom: 20px;
  }
}

.headerWithBigMargin {
  margin-bottom: 25px;
  @include mobile {
    margin-bottom: 20px;
  }
}

.headerLg {
  max-width: 100%;
}

.logo {
  width: auto;
  height: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.airlineLogo {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
