@use 'styles' as *;

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  @include shadow-small;
  border-radius: 5px;

  @include mobile-tablet {
    flex-direction: column;
    max-width: none;
    border-radius: 5px 5px 0 0;
  }
  @include mobile {
    max-height: none;
  }
}

.routes {
  padding: 14px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flight {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
}

.flightStart {
  margin-right: 20px;
  align-items: flex-start;
  text-align: left;
}

.flightEnd {
  margin-left: 20px;
  align-items: flex-end;
  text-align: right;
}

.flightTime {
  @include heading2;
  line-height: 30px;
}

.flightDate {
  @include text-small;
  color: $color-medium-grey;
  white-space: nowrap;
  line-height: 16px;
  font-family: $font-Montserrat;
}

.places {
  display: flex;
  justify-content: space-between;
}

.flightPlace {
  width: max-content;
  max-width: 170px;
  @include text-small;
  line-height: 16px;
  font-family: $font-Montserrat;
  @media (max-width: 630px) {
    left: 0;

    width: min-content;
  }
}

.flightPlaceStart {
  text-align: left;
}

.flightPlaceEnd {
  text-align: right;
}

.flightTimeline {
  max-width: 320px;
  padding-bottom: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @include text-small;
  color: $color-medium-grey;
  text-align: center;
}

.detailPrice {
  display: flex;
  flex-direction: column;
  border-left: 1px solid $color-light-grey;

  @include mobile-tablet {
    max-height: 50px;
    width: 100%;
    flex-direction: row;
    border-top: 1px solid $color-light-grey;
  }
}

.sum {
  @include heading3;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile-tablet {
    display: none;
  }
}

.detailBtn {
  width: 100%;
  padding: 6px 72px;
  border-radius: 0 0 4px;

  @include mobile-big-tablet {
    padding: 6px 30px;
  }

  @include mobile-tablet {
    display: none;
  }
}
.priceBtnMobile {
  display: none;

  @include mobile-tablet {
    width: 100%;
    display: block;
    padding: 14px;
    border-radius: 0;
  }
}

.infoOpened {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.timeLineWrapper {
  margin-top: 10px;
  svg {
    width: 100%;
  }
}
