@use 'styles' as *;

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 10;

  @include mobile {
    align-items: flex-start;
    height: auto;
    overflow-y: auto;
  }

  @include tablet {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  @include laptop {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  @include big-tablet {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  .modalContent {
    font-family: $font-Montserrat;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: $color-white;
    z-index: 2;
    transition: padding 0.3s;

    @include mobile {
      height: 100vh;
      width: 100vw;
      padding: 15px;
      border-radius: 0;
    }

    @include tablet {
      height: 100vh;
      padding: 15px;
      border-radius: 0;
    }
    @include big-tablet {
      width: 100%;
      height: 100vh;
      padding: 15px;
      border-radius: 0;
    }
  }

  .modalCloseButton {
    font-family: $font-Montserrat;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $color-medium-blue;

    @include mobile {
      font-size: 1rem;
    }

    @include tablet {
      font-size: 1rem;
    }
  }

  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid $color-medium-blue;
    border-left: 2px solid $color-medium-blue;
    transform: rotate(-45deg);
    margin-right: 5px;
  }
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    & .titleStyle {
      font-size: 17px;
      font-weight: $fw-semibold;
    }

    @include mobile {
      width: 55%;
    }

    @include tablet {
      width: 55%;
    }

    @include big-tablet {
      width: 55%;
    }

    @include laptop {
      width: 55%;
    }
  }
}
