@use 'styles' as *;

.wrapper {
  margin-bottom: 30px;
  max-width: 670px;

  @include big-tablet {
    max-width: 610px;
  }

  @include tablet {
    max-width: 570px;
  }

  @include mobile {
    max-width: 380px;
  }
}

.commentWrapper {
  margin-top: 20px;
  padding-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $color-light-grey;
}

.commentButton {
  max-width: 210px;

  display: flex;
  align-items: center;
  gap: 10px;

  background: none;
  border: none;
  cursor: pointer;
}

.commentAmount {
  @include heading3;
}

.likeButton {
  display: flex;
  align-items: center;
  gap: 12px;

  background: none;
  border: none;
  cursor: pointer;

  font-weight: $fw-medium;
  font-size: 14px;
  line-height: 20px;

  color: $color-medium-grey;
}

.likeAmount {
  font-weight: $fw-medium;
  font-size: 14px;
  line-height: 20px;

  color: $color-medium-grey;
}

.list * {
  list-style: none;
}

.comment {
  margin-top: 19px;
  padding-bottom: 20px;
}

.loadMoreContainer {
  width: 100%;
  border-top: 1px solid $color-medium-grey;
}

.likeIcon {
  fill: $color-medium-grey;
}

.loadMoreButton {
  background-color: transparent;
  border: none;
  padding: 0;

  margin: 8px auto;

  display: flex;
  gap: 9px;

  border: none;
  background-color: $color-white;

  font-weight: $fw-medium;
  font-size: 12px;
  line-height: 16px;
  color: $color-medium-grey;
  cursor: pointer;
}

.loadMoreButton:hover {
  background: none;
}

.commentForm {
  margin-top: 38px;

  @include mobile {
    margin-top: 28px;
  }
}
