$color-white: #ffffff;
$color-light-white: #f6f5ff;

$color-wild-blue-crayola: #91a4ce;
$color-bright-grey: #fbfbfb;
$color-light-grey: #eeeeee;
$color-light-medium-grey: #bbb;
$color-medium-grey: #a1a1a1;
$color-space-grey: #747679;

$color-bright-blue: #a5beff;
$color-light-blue: #658ef8;
$color-medium-blue: #396ef6;
$color-system-blue: #007aff;
$color-transparent-blue: rgba(35, 94, 245, 0.95);
$color-space-blue: #235ef5;
$color-quaternary-blue: #eff3ff;
$color-blue-alice: #eff3ff;
$color-black: #333333;
$color-dark-black: #000000;
$color-transparent-black: rgba(24, 50, 115, 0.1);
$color-light-black: #333333;

$color-accent-green: #63cc61;
$color-accent-red: #ff4b55;
$color-accent-red: #ff4b55;

$box-shadow-alert: #1832731a;